/* 
font-family: 'Righteous', cursive;
font-family: 'Marck Script', cursive;
font-family: 'Black Han Sans', sans-serif; 
font-family: 'PT Serif', serif;
*/


.bg-company-blue {
  background-color: #11679F !important;
  min-height: 70px;
  display: flex;
  align-items: center;
  z-index: 100;
  top: 50px;
  border-top: 1px solid rgb(19, 67, 144);
  /* border-bottom: 1px solid rgb(19, 67, 144); */
}

/* .nav-link-color {
  color: white;
} */

a {
  text-decoration: none;
  color: #222222;
}

a:hover {
  text-decoration: none;
  color: #222222;
}

.boskom-logo-nav {
  width: 100px;
  height: auto;
}

.boskom-logo-container {
  position: relative;
  width: 20px;
  /* border: 1px solid red; */
  height: 20px;
}

.boskom-sun {
  position: absolute;
  width: 60px;
  top: -20px;
  left: -25px;
  z-index: -20;
}

.boskom-logo-text {
  position: absolute;
  font-size: 2.2rem;
  top: -5px;
  /* font-family: 'Righteous', cursive; */
  /* font-family: 'Marck Script', cursive; */
  /* font-family: 'Black Han Sans', sans-serif; */
  font-family: 'PT Serif', serif;
  font-weight: bolder;
}

.navbar-brand-name {
  font-weight: bold;
}

.nav-link {
  /* font-weight: 500; */
  color: rgb(255, 255, 255) !important;
  font-size: 1.2rem;
  /* border: 1px solid red; */
}

.navbar-nav {
  /* border: 3px solid green; */
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.nav-link:hover {
  color: #ffffff !important;
  /* font-weight: 500; */
  text-decoration: underline;
}

.bg-above-nav {
  background-color: rgb(255, 255, 255);
  height: 50px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.phone-color {
  color: #F7AA25;
}

.carousel {
  border-bottom: 5px solid #11679F;
  top: 120px;
  /* margin-bottom: 200px; */
  /* min-height: 300px; */
}

.carousel-image-min-height {
  min-height: 250px;
  width: 100%;
}

.carousel-text-container {
  /* background-color: #d4d4d4; */
  /* width: 500px; */
  margin: auto;
  /* opacity: .5; */
  /* border: 1px solid red; */
  /* -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black; */
   /* text-shadow:
    -1px -1px 0 #ffffff,  
     1px -1px 0 #ffffff,
    -1px  1px 0 #ffffff,
     1px  1px 0 #ffffff;

  color: #11679F; */
}

.carousel-header-text {
  font-size: 3rem;
  text-shadow:
    -1px -1px 0 #11679F,  
     1px -1px 0 #11679F,
    -1px  1px 0 #11679F,
     1px  1px 0 #11679F;

  color: #F7AA25;
}

.carousel-paragraph-text {
  font-size: 2rem;
  /* color: whitesmoke; */
  font-weight: 500;
}

.scroll-spacer-services {
  margin-top: 200px;
  display: block;
  position: relative;
  top: -180px;
  visibility: hidden;
}

.service-header-text-container {
  margin-bottom: 50px;
}

.service-header-text {
  border-bottom: 2px solid rgb(230, 232, 236);
  width: 350px;
}

.services-container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
  /* max-width: 400px; */
}

.single-service-wrapper {
  /* border: 1px solid cyan; */
  max-width: 280px;
}

.single-service-container {
  /* border: 1px solid purple; */
  margin: 20px 26px;
  padding: 10px 10px;
  position: relative;
  border-radius: 10% !important;
  border: 1px solid rgb(230, 232, 236);
}

.single-service-container:hover {
  /* border: 1px solid rgb(59, 128, 238); */
  cursor: pointer;
  background-color: rgb(243, 245, 247) !important;
}

.service-image-round {
  width: 200px;
  height: 200px;
  /* border: 1px solid blue; */
  margin-bottom: 20px !important;
  border-radius: 10% !important;
}

.service-tagline {
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
  font-weight: 400;
  margin-bottom: 5px;
}

.double-service-container {
  /* border: 2px solid yellow; */
  display: flex;
  justify-content: space-evenly;
  /* width: 100%; */
}

.same-day-service-emphasis {
  background-color: rgb(230, 232, 236);
  padding-top: 80px;
  padding-bottom: 40px;

}

html {
  scroll-behavior: smooth;
}

.scroll-spacer-about {
  margin-top: 130px;
  display: block;
  position: relative;
  top: -180px;
  visibility: hidden;
}

.about-bulletpoints {
  margin-bottom: 70px;
  /* border: 1px solid green; */
  /* max-width: 650px; */
  display: flex;
  justify-content: center;
}

.about-image {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 30px;
}

.about-lead-text {
  margin-bottom: 50px;
}

.single-about-bulletpoint {
  margin-bottom: 20px;
  display: flex;
  max-width: 650px;
  /* border: 1px solid red; */
}

.bulletpoint-check-image {
  width: 30px;
}

.bulletpoint-text {
  margin-left: 10px;
  max-width: 650px;
}

.btn-primary {
  margin: 40px 0;
}

.footer-container {
  width: 100%;
  background-color: rgb(10, 71, 112);
  height: 50px;
  margin-top: 50px;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.footer-text {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  /* border: 1px solid red; */
  font-size: 0.7rem;
}

.jumbotron-offset {
  height: 120px;
  visibility: hidden;
}

.headline-spacer {
  margin-top: 80px;
}

.bottom-ofPage-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.new-garageDoor-step-box {
  background-color: rgb(230, 232, 236);
  padding: 20px 0;
  margin-bottom: 50px;
}

.garageDoor-container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-evenly;
  /* margin-bottom: 100px; */
  /* max-width: 400px; */
  margin-top: 30px;
}

.single-garageDoor-container {
  margin: 20px 10px;
  /* padding: 5px 5px; */
  position: relative;
  /* border-radius: 10% !important; */
  border: 1px solid rgb(230, 232, 236);
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.single-garageDoor-wrapper {
  /* border: 1px solid blue; */
  max-width: 275px;
}

.single-garageDoor-wrapper-double {
  /* border: 1px solid blue; */
  max-width: 375px;
}

.garageDoor-image-round {
  width: 200px;
  /* height: 200px; */
  /* border: 1px solid blue; */
  margin-bottom: 20px !important;
  border-radius: 10% !important;
}

.garageDoor-image {
  width: auto;
  height: auto;
  max-width: 200px;
  /* border: 1px solid blue; */
}

.garageDoor-windows-image {
  max-width: 100%;
  /* width: auto; */
  height: auto;
  /* max-width: 200px; */
  /* border: 1px solid blue; */
}

.triple-garageDoor-color-wrapper {
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 30px;
    /* padding: 0 5rem; */
}

.garageDoor-window-sizer {
  margin: 0 30px;
  /* border: 1px solid red; */
}

.garageDoor-window-container-sizer {
  width: 250px;
  /* margin: 10px 30px; */
  /* border: 1px solid red; */
}

.broken-springs-wrapper {
  /* border: 1px solid red; */
  max-width: 700px;
  padding: 0 50px;
  margin: 0 auto;
}

.contact-form-container {
  border: 1px solid rgb(209, 209, 209);
  border-radius: 10px;
  /* min-width: 48%; */
  width: 450px;
  padding: 30px 30px;
  margin: 20px 20px;
  /* background-color: rgb(230, 232, 236); */
}

.text-area-container {
  width: 100%;
  /* border: 1px solid red; */
}

.form-label-style {
  /* border: 1px solid red; */
  width: 100%;
  text-align: left;
  font-weight: 600;
}

label {
  margin-bottom: 0 !important;
}

.form-control {
  margin-bottom: .8rem;
}

.contact-form-hours-container {
  /* border: 1px solid rgb(202, 202, 202); */
  border-radius: 10px;
  /* min-width: 48%; */
  width: 450px;

  padding: 30px 30px;
  background-color: rgb(230, 232, 236);
  margin: 20px 20px;
}

.contact-form-container-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  /* border: 1px solid green; */
  margin-bottom: 100px;
}

.hours-container {
  display: flex;
  justify-content: space-between;
}

.hours-days-container {
  min-width: 183px;
  /* border: 1px solid red; */
}

.hours-exception {
  /* border: 1px solid green; */
  margin: 20px 0;
}